*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color:  #092b4b;
}
h1{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #ffffffe1;
    font-family: 'Hind', sans-serif;
}
.styling{
    font-weight: 800;
    color: rgb(0, 119, 255);
    font-size: 3.5rem;
}
.input_div{
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.input{
    flex: 75%;
}
.button{
    flex: 25%;
}
.input_box{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    font-size: 1.15rem;
    border-radius: 25px;
    width: 100%;
    color: #3c3c41;
    margin-bottom: 0.5rem;
}
span{
    color: red;
    padding-left: 2rem;
    opacity: 0.7;
    font-size: 1.25rem;
}
.add{
    display: block;
    height: 50px;
    width: 90%;
    border-radius: 15px;
    outline: none;
    border: none;
    color:#fff;
    background-color: rgb(130, 133, 145);
    cursor: pointer;
    margin-left: auto;
}

.add:hover{
        opacity: 0.7;
}

.container{
    display: flex;
    flex-direction: column;
/*     justify-content: center; */
/*     align-items: center; */
/*     text-align: center; */
    width: 60%;
    margin: 0rem auto;
    margin-top: 1rem;
}

.item{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: hsla(209, 89%, 31%, 0.3);
}
.task{
    display: flex;
    flex-direction: column;
    flex: 80%;
}
.actions{
    display: flex;
    flex-direction: row;
}

.item_input{
    background: none;
    outline: none;
    color: #fff;
    border: none;
    font-size: 1.4rem;  
    border-radius: 10px; 
    padding: 5px;
    margin-bottom: 5px;
}

.input_task{
    width: 50%;
}
.input_description{
    width: 100%;
}



.editButton{
    /* font-size: 1.4rem; */
/*     margin: 0 0.5rem; */
    /* font-family: 'Hind', sans-serif; */
    background: none;
    /* outline: none; */
    /* color: lime; */
    border: none;
    cursor: pointer;
}
.editImg{
    width: 80%;
    opacity: 0.5;
    height: auto;
    z-index: -1;
}
.editImg:hover{
    opacity: 1;
}
.removeButton{
/*     font-size: 1.4rem;
    font-family: 'Hind' sans-serif; */
    background: none;
/*     outline: none; */
/*     color: #e00; */
    border: none;
    cursor: pointer;
}
.removeImg{
    opacity: 0.5;
    width: 80%;
    height: auto;
    z-index: -1;
}
.removeImg:hover{
    opacity: 1;
}

.editable{
    background-color: whitesmoke;
    color: #000000;
}
/* Hide & Show Elements */
.hide{
    display: none;
}

.show{
    display: block;
}




/* Resposive design*/


